<ion-view title="Cuisine" id="cuisine-view">
  <ion-content has-bouncing="false">
    <div class="wine-header">
      <div class="row row-center">
          <div class="col centered">
            <h3>Vos cuisines préférées</h3>
          </div>
      </div>
    </div>
    <div class="content-container">
      <div class="list">
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="visitor.survey.quest_3.answ_1">
           </label>
           Française
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="visitor.survey.quest_3.answ_2">
           </label>
           Italienne
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="visitor.survey.quest_3.answ_3">
           </label>
           Asiatique
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="visitor.survey.quest_3.answ_4">
           </label>
           Américaine
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="visitor.survey.quest_3.answ_5">
           </label>
           Végétarienne
        </li>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-click="cuisineToStarter(visitor.survey)" align-title="center" class="bar-positive">
    <h1 class="title">Valider</h1>
  </ion-footer-bar>
</ion-view>