<ion-view view-title="Login" ng-controller="LoginFormController"  class="full-background-primary" >
  <ion-content has-header="true" has-footer="false" id="login-screen">

    <img src="assets/utils/logo-vinify-primary.svg" alt="logo-vinify">

    <form name="form" novalidate>
              <p class="padding p-white" ng-show="authError">
                {{authError}}
              </p>

        <div class="margin-top item-text-wrap" ng-show="connect === 'init' ">
        <p class="p-white">Vinify, le caviste qui vous connaît <br> toujours à portée de main</p>
          <div class="row margin-top ">
            <div class="col">
              <button class="margin-top button button-outline-white" ng-click="connect = 'user' ">Se connecter</button>
            </div>
            <div class="col">
              <button class="margin-top button button-outline-white" ng-click="connect = 'start' ">Créer un compte</button>
            </div>
          </div>
        </div>
              <!-- TODO SUPPR -->
        <div ng-show="connect === 'user'">
          <div class="list card">
              <label for="email" class="item item-input">
                <!-- <span class="input-label">Email</span> -->
                <input id="email" name="email" autocomplete="email" type="email" ng-model="user.email" required placeholder="Email">
              </label>
              <label for="password" class="item item-input">
                <!-- <span class="input-label">Mot de Passe</span> -->
                <input id="password" autocomplete="password" name="pass" type="password" ng-model="user.password" required placeholder="Mot de Passe">
              </label>
          </div>

          <div>
            <button class="button button-outline-white" ng-click="login()" ng-disabled='form.$invalid'>Se connecter</button>
          </div>

          <div class="row">
            <div class="col links">
              <a ng-click="password()" target="_blank" class="p-white">Mot de passe oublié</a>
            </div>
            <div class="col links">
              <a ng-click="connect = 'init'" target="_blank" class="p-white">Je n'ai pas de compte</a>
            </div>
          </div>
        </div>


        <div ng-show="connect === 'start' ">
          <div class="margin-top item-text-wrap">
            <div class="row">
              <div class="col">
                <p><button class="margin-top button button-outline-white" ui-sref="sidemenu.slidebox">Salon des Vignerons Indépendants</button></p>
                <p><button class="margin-top button button-outline-white" ui-sref="sidemenu.quiz.coffee({ type: 'client' })">Expérience Vinify</button></p>
              </div>
            </div>
            <div class="row">
              <div class="col links">
                <a ng-click="connect = 'init'" target="_blank" class="p-white">J'ai déjà un compte</a>
              </div>
            </div>
          </div>
        </div>
    </form>
  </ion-content>
</ion-view>