<ion-view title="Login" ng-controller="LoginFormController">
  <ion-content has-header="true" has-footer="false" class="full-background-primary" id="login-screen">

    <img src="assets/utils/logo-vinify-primary.svg" alt="logo-vinify">

    <form name="form" novalidate>
              <p class="p-white" ng-show="authError">
                {{authError}}
              </p>
            <div class="list card">
                <label for="email" class="item item-input">
                  <!-- <span class="input-label">Email</span> -->
                  <input id="email" name="email" autocomplete="email" type="email" ng-model="user.email" required placeholder="Email">
                </label>
                <label for="password" class="item item-input">
                  <!-- <span class="input-label">Mot de Passe</span> -->
                  <input id="password" autocomplete="password" name="pass" type="password" ng-model="user.password" required placeholder="Mot de Passe">
                </label>
            </div>

            <div>
              <button class="button button-outline-white" ng-click="login()" ng-disabled='form.$invalid'>Se connecter</button>
          </div>

<!--           <div>
              <a href="/user/password/reset" class="button button-less-white"><p>J'ai oublié mon mot de passe</p></a>
          </div> -->
    </form>
  </ion-content>
</ion-view>