#picking-view .tab-selector {
  color: #FFF;
  font-family: 'robotobold';
    .selected-tab {
      border-bottom: 3px solid #FFF;
      color: #FFF;
    }
}
#picking-view .bar-subheader {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  padding-left: 0;
  padding-right: 0;
}
#picking-view .bar-subheader,
#picking-view .bar-subheader .row,
#picking-view .bar-subheader .col {
  padding-left: 0;
  padding-right: 0;
}

#picking-view .bar-subheader .col {
  padding-bottom: 6px;
}