#picking-view .tab-selector {
  color: #FFF;
  font-family: 'robotobold';
    .selected-tab {
      border-bottom: 3px solid #FFF;
      color: #FFF;
    }
}
#picking-view .bar-subheader {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  padding-left: 0;
  padding-right: 0;
}
#picking-view .bar-subheader,
#picking-view .bar-subheader .row,
#picking-view .bar-subheader .col {
  padding-left: 0;
  padding-right: 0;
}

#picking-view .bar-subheader .col {
  padding-bottom: 6px;
}

#picking-view .item-thumbnail-left > img {
  max-height: 100%;
}

#picking-view .item-thumbnail-left {
  padding-top: 20px;
  padding-bottom: 20px;
}

#picking-view .attributes img {
  height: 16px;
}
#picking-view .attributes  * {
  vertical-align: middle;
}
#picking-view .attributes {
  margin-bottom: 20px;
}
#picking-view .match {
  font-family: 'robotobold';
  color: @primary;
  margin-right: 10px;
}
#picking-view .coin {
  margin-left: 10px;
}
#picking-view .number {
  font-family: 'robotobold';
  color: @primary;
}
#picking-view .price {
  font-family: 'robotobold';
  color: @white-wine;
}
#picking-view .vinitext {
  margin-top: 10px;
}