<ion-view title="Couleur" id="color-view">
  <ion-content has-bouncing="false">
    <div class="list">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="colors.red" ng-change="setColors('red', colors.red)">
         </label>
         Rouge
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="colors.white" ng-change="setColors('white', colors.white)">
         </label>
         Blanc
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="colors['rose']" ng-change="setColors('rose', colors['rose'])">
         </label>
         Rosé
      </li>
    </div>
  </ion-content>
</ion-view>