<ion-view title="Gamme de Prix" id="price-range-view">
  <ion-content has-bouncing="false">
    <div class="item item-text-wrap">
      <p class="centered">Vous allez visitez des producteurs qui proposent les gammes suivantes :</p>
    </div>
    <div class="list">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="prices.price_level_1" ng-change="setPrices(price_level_1, prices.price_level_1)">
         </label>
         Moins de 10€
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="prices.price_level_2" ng-change="setPrices(price_level_2, prices.price_level_2)">
         </label>
         10 à 15€
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="prices.price_level_3" ng-change="setPrices(price_level_3, prices.price_level_3)">
         </label>
         15 à 20€
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="prices.price_level_4" ng-change="setPrices(price_level_4, prices.price_level_4)">
         </label>
         20 à 30€
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="prices.price_level_5" ng-change="setPrices(price_level_5, prices.price_level_5)">
         </label>
         Plus de 30€
      </li>
    </div>
  </ion-content>
</ion-view>