<ion-view id="vinibar" title="Vinibar">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="search.toggle = !search.toggle">
			<i class="icon ion-search"></i>
		</button>
	</ion-nav-buttons>
	<ion-header-bar align-title="left" class="bar-positive bar-subheader bar-segmented-control">
		<p ng-if="!search.toggle" class="segmented-control">
				<span class="segmented">
						<label><input type="radio" name="list" ng-model="segmentedControl.value" value="toDrink" checked><span class="label">A boire</span></label>
						<label><input type="radio" name="list" ng-model="segmentedControl.value" value="rated"><span class="label">Notés</span></label>
				</span>
		</p>
		<div ng-if="search.toggle" class="item-input-inset search-vinibar">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search"  focus-on="focusMe" ng-model="search.value" placeholder="Search">
			</label>
			<div class="button-clear pointer" ng-click="search.value = '' ">
				Annuler
			</div>
		</div>
	</ion-header-bar>
	<ion-content overflow-scroll="false" class="has-subheader">

		<a ng-if="user.awaiting_order" class="item centered" ng-click="orderReceived()">
			<h3>Une commande est en route !</h3>
			<p>Cliquez ici si vous l'avez reçue</p>
		</a>
		<a  ng-if="user.status == 1" class="item item-text-wrap centered" ng-click="questionnaire()">
			<h3>L'aventure Vinify démarre avec un Vinibar</h3>
			<p>6 bouteilles choisies pour moi <br> en fonction de mes goûts</p>
			<p>Vinify, c'est mon caviste, qui me connaît <br> et me conseille</p>
		</a>
		<a ng-if="user.status == 2 || user.status == 2.5" class="item item-text-wrap centered" ng-click="payOrder()">
			<h3>L'aventure Vinify démarre avec un Vinibar</h3>
			<p>6 bouteilles choisies pour moi <br> en fonction de mes goûts</p>
			<p>Vinify, c'est mon caviste, qui me connaît <br> et me conseille</p>
		</a>
		<ion-list ng-if="segmentedControl.value === 'rated'">
			<a ng-repeat="bottle in bottleList.results | filter: {date_rated: '!null'}  | filter: searchFilter" class="item item-thumbnail-left" href="#/ratedwine/{{::bottle.uuid}}">
					<img ng-src="assets/wines/{{bottle.wine.product_code}}.png" err-src="assets/wines/mystery-bottle.png" alt="">
					<h3>{{::bottle.wine.display_name}}</h3>
					<p class="vinitext">
							{{::bottle.wine.region}}
							<span class="item-note">
								<i ng-repeat="i in getNumber(bottle.rating) track by $index" class="icon ion-ios-star full-star"></i>
								<i ng-hide="isInteger(bottle.rating)" class="icon ion-ios-star-half full-star"></i>
							</span>
							<br>
							{{::bottle.wine.appellation}}
							<span class="item-note">
								<span ng-repeat="a in getRange(bottle.wine) track by $index">€</span>
							</span>
					</p>
			</a>
		</ion-list>
		<ion-list ng-if="segmentedControl.value === 'toDrink'">
			<a ng-repeat="bottle in bottleList.results | filter: {date_rated: 'null'}  | filter: searchFilter" class="item item-thumbnail-left" href="#/wine/{{::bottle.uuid}}">
					<img ng-src="assets/wines/{{bottle.wine.product_code}}.png" err-src="assets/wines/mystery-bottle.png" alt="">
					<h3>{{::bottle.wine.display_name}}</h3>
					<p class="vinitext">
							{{::bottle.wine.region}}
							<span class="item-note">{{::bottle.wine.vintage}}</span>
							<br>
							{{::bottle.wine.appellation}}
							<span class="item-note">
								<span ng-repeat="a in getRange(bottle.wine) track by $index">€</span>
							</span>
						</p>
			</a>
		</ion-list>
	</ion-content>
</ion-view>