<ion-view title="Déguster" id="rated-wine-view">
  <ion-content has-bouncing="false">
    <div class="wine-header">
      <div class="row row-center">
          <div class="col centered">
            <h3>{{bottle.wine.display_name}}</h3>
            <h4>{{bottle.wine.region}} - {{bottle.wine.appellation}}</h4>
            <!-- <h4>{{bottle.wine.appellation}}</h4> -->
          </div>
      </div>
      <div class="row row-header-bottom row-center">
          <div class="col  col-75">
            <div class="row row-center align-left">
              <div class="col col-20">
                    <img class="img-grapes" src="assets/utils/grapes.svg" alt="grapes-logo">
              </div>
              <div class="col">
                    <p>{{bottle.wine.variety}}</p>
                    <!-- <h4>{{bottle.wine.variety}}</h4> -->
              </div>
            </div>
          </div>
          <div class="col align-right">
            <div class="row">
              <div class="col"><p>{{bottle.wine.vintage}}</p></div>
            </div>
          </div>
      </div>
    </div>
    <div class="wine-content padding">

      <div class="row row-order">
        <div class="col centered">
          <h4>Prix Vinify : {{::bottle.wine.public_price}}&nbsp;€</h4>
        </div>
        <div class="col centered">
              <!-- TODO BUY WINE -->
              <a ng-href="mailto:commande@vinify.co?subject=Commande%20%7C%20{{::bottle.wine.display_name}}&amp;body=Bonjour%2C%0AJe%20souhaiterais%20effectuer%20une%20commande%20X%20bouteilles%20de%20{{::bottle.wine.display_name}}.%0A%0AMerci%20de%20me%20confirmer%20le%20prix." class="button button-outline-primary" target="_blank">
                  Commander
                </a>
          </div>
        </div>
          <div class="card">
            <div class="item">
                <h2>Note</h2>

               <ul class="rating">
                <ul ng-if="bottle.rating == '1' " class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '1.5' " class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-half"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '2'" class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '2.5' " class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-half"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '3'" class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '3.5' " class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-half"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '4'" class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-outline"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '4.5' " class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star-half"></i></li>
                </ul>
                <ul ng-if="bottle.rating == '5'" class="rating">
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                  <li><i class="icon ion-ios-star"></i></li>
                </ul>
               </ul>

                <h2  ng-if="bottle.comment" class="header-margin-top">Commentaire :</h2>
                <p ng-if="bottle.comment">{{bottle.comment}}</p>
                <div class="button-card"><span class="button-card--save" ng-click="openModal()">modifier</span></div>
              </div>
          </div>
    <!--         <div class="centered">
              <button class="button share share-facebook"><img src="assets/utils/facebook.svg" alt="facebook-logo">  <img src="assets/utils/twitter.svg" alt="facebook-logo"> <img src="assets/utils/mail.svg" alt="mail-logo"> Partager ce vin</button>
            </div> -->

            <div class="row centered row-social">
              <div class="social-container">
                <div ng-click="share.facebook()" id="facebook"><p><i class="icon ion-social-facebook"></i></p></div>
                <div ng-click="share.twitter()" id="twitter"><p><i class="icon ion-social-twitter"></i></p></div>
                <div ng-click="share.mail()" id="mail"><p><i class="icon ion-paper-airplane"></i></p></div>
              </div>
            </div>
            <p class="centered">Partager ce vin pour gagner des ViniPoints !</p>
            <div class="row row-buttons">
                  <div class="col centered">
                    <a class="p-highlight link-dotted link-dotted-primary" ng-click="openGroupModal()">
                      Inviter des gens à noter
                    </a>
                  </div>
            </div>
    <!--         <div class="row">
              <div class="col">
                  <button class="button share share-facebook"> <img src="assets/utils/facebook.svg" alt="facebook-logo"><p>Partager sur facebook</p></button>
              </div>
              <div class="col">
                  <button class="button share share-twitter"> <img src="assets/utils/twitter.svg" alt="facebook-logo"> <p>Partager sur twitter</p></button>
              </div>
            </div>

            <div class="row">
              <div class="col col-25">
              </div>
              <div class="col">
                  <button class="button share share-mail"> <img src="assets/utils/mail.svg" alt="mail-logo"> <p>Partager <br> par mail</p></button>
              </div>
              <div class="col col-25">
              </div>
            </div> -->
        <div class="wine-content">
          <div class="row row-center">
            <div class="col col-20 centered">
              <img class="logo-wine-desc" src="assets/utils/logo_glass.png" alt="">
            </div>
            <div class="col">
              <h4>Description</h4>
              <p>{{::bottle.wine.tasting}}</p>
            </div>
          </div>
          <div class="row row-center">
            <div class="col col-20 centered">
              <img class="logo-wine-desc" src="assets/utils/logo_forks.png" alt="">
            </div>
            <div class="col">
              <h4>Accords mets/vin</h4>
              <p>{{::bottle.wine.food}}</p>
            </div>
          </div>
          <div class="row row-center">
            <div class="col col-20 centered">
              <img class="logo-wine-desc" src="assets/utils/logo_grapes.png" alt="">
            </div>
            <div class="col">
              <h4>Producteur</h4>
              <p>{{::bottle.wine.domain}}</p>
            </div>
          </div>
          <div ng-if="bottle.wine.testimonial" class="row row-center">
            <div class="col col-20 centered">
              <img class="logo-wine-desc" src="assets/utils/logo_star.png" alt="">
            </div>
            <div class="col">
              <h4>Un commentaire client</h4>
              <p>{{::bottle.wine.testimonial}}</p>
            </div>
          </div>

          <div class="row row-center row-advice">
            <div class="col col-20 centered">
              <img src="assets/utils/termometer.svg" alt="">
            </div>
            <div class="col">
              <h4>Conseils de service</h4>
              <p class="advice advice-temp ">
                Temp. de dégustation : <br>
                <span class="temp">{{::bottle.wine.temperature_min}}°C - {{::bottle.wine.temperature_max}}°C </span>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="item item-text-wrap">
              <h2 class="centered">À savoir</h2>
              <p>{{::bottle.wine.education}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="centered"><a class="button button-outline-primary centered" href ui-sref="sidemenu.wine_know_more({uuid: id})">En savoir plus</a></div>
  </ion-content>
</ion-view>