<ion-view title="Déguster">
  <ion-content has-bouncing="false">
  <div class="wine-header">
    <div class="row row-center">
        <div class="col centered">
          <h3>{{bottle.wine.display_name}}</h3>
          <h4>{{bottle.wine.region}} - {{bottle.wine.appellation}}</h4>
          <!-- <h4>{{bottle.wine.appellation}}</h4> -->
        </div>
    </div>
    <div class="row row-header-bottom row-center">
        <div class="col  col-75">
          <div class="row row-center align-left">
            <div class="col col-20">
                  <img class="img-grapes" src="assets/utils/grapes.svg" alt="grapes-logo">
            </div>
            <div class="col">
                  <p>{{bottle.wine.variety}}</p>
                  <!-- <h4>{{bottle.wine.variety}}</h4> -->
            </div>
          </div>
        </div>
        <div class="col align-right">
          <div class="row">
            <div class="col"><p>{{bottle.wine.vintage}}</p></div>
          </div>
        </div>
    </div>
  </div>
  <div class="wine-content padding">

          <div class="row row-order">
            <div class="col centered">
              <h4>Prix Vinify : {{bottle.wine.public_price}}&nbsp;€</h4>
            </div>
            <div class="col centered">
            <!-- TODO BUY WINE -->
            <a class="button button-outline-primary" href="mailto:charlotte@vinify.co?subject=Commande%20de%20{{bottle.wine.display_name}}&body=Bonjour%2C%0AJe%20voudrais%20effectuer%20une%20commande%20de%20vin.%0A%0AR%C3%A9f%C3%A9rence%3A%20{{bottle.wine.display_name}},%20{{bottle.wine.region}},%20{{bottle.wine.vintage}}%0ANombre%20de%20bouteilles:%20(par%20trois)%3A%20%5BX%5D%0A%0AMerci%20de%20m'indiquer%20la%20disponibilit%C3%A9%20et%20de%20confirmer%20le%20prix%20de%20{{bottle.wine.public_price}}%20euros.%0A%0ACordialement%2C%0A">
                Commander
              </a>
            </div>
          </div>

        <h4>Description</h4>

        <p ng-bind-html="bottle.wine.description" class="justified"><p>

        <h4>Note</h4>

       <ul class="rating">
        <ul ng-show="bottle.rating == '1' " class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '1.5' " class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-half"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '2'" class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '2.5' " class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-half"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '3'" class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '3.5' " class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-half"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '4'" class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-outline"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '4.5' " class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star-half"></i></li>
        </ul>
        <ul ng-show="bottle.rating == '5'" class="rating">
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
          <li><i class="icon ion-ios7-star"></i></li>
        </ul>
       </ul>

        <h4 class="header-margin-top">Commentaire :</h4>
        <p>{{bottle.comment}}</p>

<!--         <div class="centered">
          <button class="button share share-facebook"><img src="assets/utils/facebook.svg" alt="facebook-logo">  <img src="assets/utils/twitter.svg" alt="facebook-logo"> <img src="assets/utils/mail.svg" alt="mail-logo"> Partager ce vin</button>
        </div> -->

        <div class="row centered row-social">
          <div class="social-container">
            <div ng-click="share.facebook()" id="facebook"><p><i class="icon ion-social-facebook"></i></p></div>
            <div ng-click="share.twitter()" id="twitter"><p><i class="icon ion-social-twitter"></i></p></div>
            <div ng-click="share.mail()" id="mail"><p><i class="icon ion-paper-airplane"></i></p></div>
          </div>
        </div>
        <p class="centered">Partager ce vin pour gagner des ViniPoints !</p>

<!--         <div class="row">
          <div class="col">
              <button class="button share share-facebook"> <img src="assets/utils/facebook.svg" alt="facebook-logo"><p>Partager sur facebook</p></button>
          </div>
          <div class="col">
              <button class="button share share-twitter"> <img src="assets/utils/twitter.svg" alt="facebook-logo"> <p>Partager sur twitter</p></button>
          </div>
        </div>

        <div class="row">
          <div class="col col-25">
          </div>
          <div class="col">
              <button class="button share share-mail"> <img src="assets/utils/mail.svg" alt="mail-logo"> <p>Partager <br> par mail</p></button>
          </div>
          <div class="col col-25">
          </div>
        </div> -->

        <h4>Service</h4>
        <div class="row row-center">
          <div class="col"><p class="service-par"><i class="icon ion-thermometer"></i> {{bottle.wine.temperature}}</p></div>
          <div class="col"><p class="service-par"><i class="icon ion-beaker"></i> Carafer le vin <span ng-show="bottle.wine.carafage">1h30</span> <span ng-show="!bottle.wine.carafage">1h30</span> avant dégustation.</p></div>
        </div>

        <h4>Dégustation</h4>
        <p ng-bind-html="bottle.wine.tasting_info" class="justified"><p>

        <div class="row row-buttons">
              <div class="col">
                <a class="button button-outline-primary" ng-click="openModal()">
                  Modifier
                </a>
              </div>
              <div class="col">
                <a class="button button-less" ng-click="openGroupModal()">
                  Noter à plusieurs
                </a>
              </div>
        </div>
</div>

  </ion-content>
</ion-view>