<ion-view title="Déguster" id="wine-view">
  <ion-content has-bouncing="false">
    <div class="wine-header">
      <div class="row row-center">
          <div class="col centered">
            <h3>{{bottle.wine.display_name}}</h3>
            <h4>{{bottle.wine.region}} - {{bottle.wine.appellation}}</h4>
            <!-- <h4>{{bottle.wine.appellation}}</h4> -->
          </div>
      </div>
      <div class="row row-header-bottom row-center">
          <div class="col col-75">
            <div class="row row-center align-left">
              <div class="col col-20">
                    <img class="img-grapes" src="assets/utils/grapes.svg" alt="grapes-logo">
              </div>
              <div class="col">
                    <p>{{bottle.wine.variety}}</p>
                    <!-- <h4>{{bottle.wine.variety}}</h4> -->
              </div>
            </div>
          </div>
          <div class="col align-right">
            <div class="row">
              <div class="col"><p>{{bottle.wine.vintage}}</p></div>
            </div>
          </div>
      </div>
    </div>

    <div class="occasion">A boire {{bottle.wine.occasion}}</div>
    <div class="rating-card">
      <div class="card">
        <form class="item rating-form">
          <h4>Note : {{rating.data.rating}}/5<span class="item-note item-note-primary">"{{literalRating.value}}"</span></h4>
            <md-slider class="md-slider-card" md-discrete ng-model="rating.data.rating" step="0.5" min="1" max="5" aria-label="rating">
            </md-slider>
<!--           <div class="icon-rating centered">
              <ul ng-show="rating.data.rating == '1' " class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '1.5' " class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-half"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '2'" class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '2.5' " class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-half"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '3'" class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '3.5' " class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-half"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '4'" class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-outline"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '4.5' " class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star-half"></i></li>
              </ul>
              <ul ng-show="rating.data.rating == '5'" class="rating">
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
                <li><i class="icon ion-ios7-star"></i></li>
              </ul> -->
<!--             </div>
            <div class="range-container">
                  <input ng-model="rating.data.rating" type="range" name="volume" min="1" max="5" value="4" step="0.5">
            </div> -->


          <h4 class="header-margin-top">Commentaire :</h4>
          <textarea ng-name="commentaire" rows="4" placeholder="J'écris ici mon commentaire ..." ng-model="rating.data.comment"></textarea>
          <div class="item item-get-more item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="rating.data.get_more">
             </label>
             Revoir mon vin dans mon Vinibar
          </div>

          <div class="card-action-buttons"><span ng-click="rateWine()">valider</span></div>
        </form>
      </div>
    </div>
    <div class="wine-content">
      <div class="row row-top wine-description tasting-food padding">
        <div class="col centered">
          <img src="assets/utils/logo_glass.svg" alt="">
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2 class="centered">Description</h2>
              <p>{{bottle.wine.tasting}}</p>
            </div>
          </div>
        </div>
        <div class="col centered">
          <img src="assets/utils/logo_forks.svg" alt="">
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2 class="centered">Accords Mets/Vins</h2>
              <p>{{bottle.wine.food}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-top wine-description testimonial-service padding">
        <div class="col centered">
          <div class="testimonial-rating">4,5</div>
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2>Un commentaire client</h2>
              <p>{{bottle.wine.testimonial}}</p>
            </div>
          </div>
        </div>
        <div class="col centered">
          <img src="assets/utils/logo_glass.svg" alt="">
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2>Conseils de service</h2>
              <p class="advice advice-temp ">
              <img src="assets/utils/termometer.svg" alt="">
                Temp. de dégustation : <br>
                <span class="temp">{{bottle.wine.temperature_min}}°C - {{bottle.wine.temperature_max}}°C </span>
              </p>
              <p class="advice advice-stock ">
                <img src="assets/utils/attention.svg" alt="">
                voir les conseils de stockage
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-top">
        <div class="col">
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2 class="centered">Domaine</h2>
              <p>{{bottle.wine.domain}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card desc-card">
            <div class="item item-text-wrap">
              <h2 class="centered">À savoir</h2>
              <p>{{bottle.wine.education}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centered"><a class="button button-outline-primary centered" href ui-sref="sidemenu.wine_know_more({uuid: id})">En savoir plus</a></div>
  </ion-content>
</ion-view>