<ion-view title="Commander" id="order-view">
  <ion-content has-bouncing="false">
    <div class="content-container">
      <div class="card">
<!--         <label class="item item-input item-select">
          <div class="input-label">
            Première recharge
          </div>
          <select ng-model="order.data.refills[0]['price_level']" ng-options="value as key for (key, value) in prices">
          </select>
        </label> -->
        <div ng-if="!hideFirstCard" class="item bottle-number-selector">
          <h2 class="centered">Je choisis ma gamme de prix (3 bouteilles)</h2>
          <p class="segmented-control">
              <span class="segmented">
                  <label><input type="radio" name="list" ng-model="order.data.refills[0]['price_level']" value="29.90"><span class="label">29€90</span></label>
                  <label><input type="radio" name="list" ng-model="order.data.refills[0]['price_level']" value="39.90"><span class="label">39€90</span></label>
                  <label><input type="radio" name="list" ng-model="order.data.refills[0]['price_level']" value="49.90"><span class="label">49€90</span></label>
              </span>
          </p>
<!--           <div class="button-bar">
            <a  ng-class="{highlighted: order.data.refills[0]['price_level'] == '29.90' }" ng-click="order.data.refills[0]['price_level'] = 29.90 " class="button">29€90</a>
            <a  ng-class="{highlighted: order.data.refills[0]['price_level'] == '39.90' }" ng-click="order.data.refills[0]['price_level'] = 39.90 " class="button">39€90</a>
            <a  ng-class="{highlighted: order.data.refills[0]['price_level'] == '49.90' }" ng-click="order.data.refills[0]['price_level'] = 49.90 " class="button">49€90</a>
          </div> -->
        </div>
        <div class="item">
          <div class="row row-center">
            <div class="col col-20 centered">
              <img ng-if="order.data.refills[0]['price_level'] === '29.90' " class="order-france-logo" src="assets/utils/logo_france.png" alt="cepage">
              <img ng-if="order.data.refills[0]['price_level'] === '39.90' " class="order-france-logo" src="assets/utils/logo_grapes.png" alt="cepage">
              <img ng-if="order.data.refills[0]['price_level'] === '49.90' " class="order-france-logo" src="assets/utils/logo_glass.png" alt="cepage">
            </div>
            <div class="col item-text-wrap centered">
              <div ng-show="hideFirstCard" class="pins">
                <h3>Recharge
                  <span ng-if="order.data.refills[0]['price_level'] === '29.90'">Découverte</span>
                  <span ng-if="order.data.refills[0]['price_level'] === '39.90'">Exploration</span>
                  <span ng-if="order.data.refills[0]['price_level'] === '49.90'">Dégustation</span>
                </h3>
                <p>3 bouteilles <span class="item-note item-note-strong">{{order.data.refills[0]['price_level']}} €</span></p>
                <div ng-if="order.data.refills[0]['split']['red'] >=1" class="pin red-pin"></div>
                <div ng-if="order.data.refills[0]['split']['red'] >=2" class="pin red-pin"></div>
                <div ng-if="order.data.refills[0]['split']['red'] >=3" class="pin red-pin"></div>
                <div ng-if="order.data.refills[0]['split']['white'] >=1" class="pin white-pin"></div>
                <div ng-if="order.data.refills[0]['split']['white'] >=2" class="pin white-pin"></div>
                <div ng-if="order.data.refills[0]['split']['white'] >=3" class="pin white-pin"></div>
                <div ng-if="order.data.refills[0]['split']['rose'] >=1" class="pin rose-pin"></div>
                <div ng-if="order.data.refills[0]['split']['rose'] >=2" class="pin rose-pin"></div>
                <div ng-if="order.data.refills[0]['split']['rose'] >=3" class="pin rose-pin"></div>
              </div>
              <p ng-if="order.data.refills[0]['price_level'] === '29.90' && !hideFirstCard ">Je découvre mes goûts sur toutes les régions françaises à prix doux.</p>
              <p ng-if="order.data.refills[0]['price_level'] === '39.90' && !hideFirstCard ">J'explore les appellations et les cépages de France.</p>
              <p ng-if="order.data.refills[0]['price_level'] === '49.90' && !hideFirstCard ">Je déguste des vins fins, élégants et racés. A moi les grandes appellations !</p>
            </div>
          </div>
        </div>
        <label ng-if="!hideFirstCard" class="item item-input item-select">
          <div class="input-label">
           Nombre de rouges
          </div>
          <select ng-model="order.data.refills[0]['split']['red']"
                          ng-options="option for option in options"
                          ng-change="changeRed(order.data.refills[0]['split'])"></select>
        </label>
        <label ng-if="!hideFirstCard" class="item item-input item-select">
          <div class="input-label">
            Nombre de blancs
          </div>
          <select ng-model="order.data.refills[0]['split']['white']"
                          ng-options="option for option in options | filterWhite:order.data.refills[0]['split']['red']"
                          ng-change="changeWhite(order.data.refills[0]['split'])"></select>
        </label>
        <label ng-if="!hideFirstCard" class="item item-input item-select">
          <div class="input-label">
            Nombre de rosés
          </div>
          <select ng-model="order.data.refills[0]['split']['rose']"
                          ng-options="option for option in options | filterRose:order.data.refills[0]['split']['red']:order.data.refills[0]['split']['white']">
          </select>
        </label>
        <div class="item">
          <div class="button-card">
            <span ng-hide="hideFirstCard" class="button-card--save" ng-click="validateFirstCard()">valider</span>
            <span ng-show="hideFirstCard" class="button-card--save" ng-click="hideFirstCard = false">modifier</span>
          </div>
        </div>
      </div>
      <div ng-if="addSecond" class="card">
        <div ng-if="!hideSecondCard" class="item bottle-number-selector">
          <h2 class="centered">Je choisis ma gamme de prix (3 bouteilles)</h2>
          <p class="segmented-control">
              <span class="segmented">
                  <label><input type="radio" name="list" ng-model="order.data.refills[1]['price_level']" value="29.90"><span class="label">29€90</span></label>
                  <label><input type="radio" name="list" ng-model="order.data.refills[1]['price_level']" value="39.90"><span class="label">39€90</span></label>
                  <label><input type="radio" name="list" ng-model="order.data.refills[1]['price_level']" value="49.90"><span class="label">49€90</span></label>
              </span>
          </p>
        </div>
        <div class="item">
          <div class="row row-center">
            <div class="col col-20 centered">
              <img ng-if="order.data.refills[1]['price_level'] === '29.90' " class="order-france-logo" src="assets/utils/logo_france.png" alt="cepage">
              <img ng-if="order.data.refills[1]['price_level'] === '39.90' " class="order-france-logo" src="assets/utils/logo_grapes.png" alt="cepage">
              <img ng-if="order.data.refills[1]['price_level'] === '49.90' " class="order-france-logo" src="assets/utils/logo_glass.png" alt="cepage">
            </div>
            <div class="col item-text-wrap centered">
              <div ng-show="hideSecondCard" class="pins">
                <h3>Recharge
                  <span ng-if="order.data.refills[1]['price_level'] === '29.90'">Découverte</span>
                  <span ng-if="order.data.refills[1]['price_level'] === '39.90'">Exploration</span>
                  <span ng-if="order.data.refills[1]['price_level'] === '49.90'">Dégustation</span>
                </h3>
                <p>3 bouteilles <span class="item-note item-note-strong">{{order.data.refills[1]['price_level']}} €</span></p>
                <div ng-if="order.data.refills[1]['split']['red'] >=1" class="pin red-pin"></div>
                <div ng-if="order.data.refills[1]['split']['red'] >=2" class="pin red-pin"></div>
                <div ng-if="order.data.refills[1]['split']['red'] >=3" class="pin red-pin"></div>
                <div ng-if="order.data.refills[1]['split']['white'] >=1" class="pin white-pin"></div>
                <div ng-if="order.data.refills[1]['split']['white'] >=2" class="pin white-pin"></div>
                <div ng-if="order.data.refills[1]['split']['white'] >=3" class="pin white-pin"></div>
                <div ng-if="order.data.refills[1]['split']['rose'] >=1" class="pin rose-pin"></div>
                <div ng-if="order.data.refills[1]['split']['rose'] >=2" class="pin rose-pin"></div>
                <div ng-if="order.data.refills[1]['split']['rose'] >=3" class="pin rose-pin"></div>
              </div>
              <p ng-if="order.data.refills[1]['price_level'] === '29.90' && !hideSecondCard ">Je découvre mes goûts sur toutes les régions françaises à prix doux.</p>
              <p ng-if="order.data.refills[1]['price_level'] === '39.90' && !hideSecondCard ">J'explore les appellations et les cépages de France et d'ailleurs.</p>
              <p ng-if="order.data.refills[1]['price_level'] === '49.90' && !hideSecondCard ">Des vins fins, élégants et racés.</ A moi les grandes appellations !p>
            </div>
          </div>
        </div>
        <label ng-if="!hideSecondCard" class="item item-input item-select">
          <div class="input-label">
           Nombre de rouges
          </div>
          <select ng-model="order.data.refills[1]['split']['red']"
                          ng-options="option for option in options"
                          ng-change="changeRed(order.data.refills[1]['split'])"></select>
        </label>
        <label ng-if="!hideSecondCard" class="item item-input item-select">
          <div class="input-label">
            Nombre de blancs
          </div>
          <select ng-model="order.data.refills[1]['split']['white']"
                          ng-options="option for option in options | filterWhite:order.data.refills[1]['split']['red']"
                          ng-change="changeWhite(order.data.refills[1]['split'])"></select>
        </label>
        <label ng-if="!hideSecondCard" class="item item-input item-select">
          <div class="input-label">
            Nombre de rosés
          </div>
          <select ng-model="order.data.refills[1]['split']['rose']"
                          ng-options="option for option in options | filterRose:order.data.refills[1]['split']['red']:order.data.refills[1]['split']['white']">
          </select>
        </label>
        <div class="item">
          <div class="button-card">
            <span ng-hide="hideSecondCard" class="button-card--delete" ng-click="removeRefill()">supprimer</span>
            <span ng-hide="hideSecondCard" class="button-card--save" ng-click="validateSecondCard()">valider</span>
            <span ng-show="hideSecondCard" class="button-card--save" ng-click="hideSecondCard = false">modifier</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-gray row">
          <div class="col centered">Total</div>
          <div class="col centered">{{3*order.data.refills.length}} bouteilles</div>
          <div class="col centered">{{calcPrice(order.data.refills)}} €</div>
        </div>
      </div>
      <div class="row-buttons">
        <div ng-hide="addSecond" class="centered">
          <button class="button button-outline-primary centered" ng-click="addRefill()">Ajouter 3 bouteilles</button>
        </div>
        <div class="centered margin-top">
          <button class="button button-outline-primary centered" ng-click="createRefillOrder()">Choisir la livraison</button>
        </div>
      </div>
<!--     <div class="bottle-number-selector">
      <h4 class="centered">Nombre de bouteilles</h4>
      <p class="segmented-control">
          <span class="segmented">
              <label><input type="radio" name="list" ng-model="order.data.data.quantity" value="1"><span class="label">3 bouteilles</span></label>
              <label><input type="radio" name="list" ng-model="order.data.data.quantity" value="2"><span class="label">6 bouteilles</span></label>
          </span>
      </p>
    </div>

    <div class="list list-select">
      <h4>Composition des recharges</h4>
      <div class="row">
        <div class="col">
          <label class="item-input item-select">
            <div class="input-label">
              <div class="red-pin"></div>
              <div ng-show="order.data.data.split.red > 0" class="red-pin"></div>
              <div ng-show="order.data.data.split.red > 1" class="red-pin"></div>
            </div>
            <select ng-model="order.data.data.split.red">
              <option value="0">Pas du tout</option>
              <option value="1">Un peu</option>
              <option value="2">Beaucoup</option>
            </select>
          </label>
        </div>
        <div class="col">
          <label class="item-input item-select">
            <div class="input-label">
              <div class="white-pin"></div>
              <div ng-show="order.data.data.split.white > 0" class="white-pin"></div>
              <div ng-show="order.data.data.split.white > 1" class="white-pin"></div>
            </div>
            <select ng-model="order.data.data.split.white">
              <option value="0">Pas du tout</option>
              <option value="1">Un peu</option>
              <option value="2">Beaucoup</option>
            </select>
          </label>
        </div>
        <div class="col">
          <label class="item-input item-select">
            <div class="input-label">
              <div class="rose-pin"></div>
              <div ng-show="order.data.data.split.rose > 0" class="rose-pin"></div>
              <div ng-show="order.data.data.split.rose > 1" class="rose-pin"></div>
            </div>
            <select ng-model="order.data.data.split.rose">
              <option value="0">Pas du tout</option>
              <option value="1">Un peu</option>
              <option value="2">Beaucoup</option>
            </select>
          </label>
        </div>
      </div>
    </div>

    <div class="list first-refill">
      <div class="item price-selector">
        <h4 class="centered">Recharge 1</h4>
        <div class="button-bar">
          <a  ng-class="{highlighted: price.levelA == '29.90' }" ng-click="price.levelA = 29.90 " class="button">29€90</a>
          <a  ng-class="{highlighted: price.levelA == '39.90' }" ng-click="price.levelA = 39.90 " class="button">39€90</a>
          <a  ng-class="{highlighted: price.levelA == '49.90' }" ng-click="price.levelA = 49.90 " class="button">49€90</a>
        </div>
      </div>
      <div ng-show="order.data.data.quantity == '2'" class="item price-selector">
        <h4 class="centered">Recharge 2</h4>
        <div class="button-bar">
          <a  ng-class="{highlighted: price.levelB == '29.90' }" ng-click="price.levelB = 29.90 " class="button">29€90</a>
          <a  ng-class="{highlighted: price.levelB == '39.90' }" ng-click="price.levelB = 39.90 " class="button">39€90</a>
          <a  ng-class="{highlighted: price.levelB == '49.90' }" ng-click="price.levelB = 49.90 " class="button">49€90</a>
        </div>
      </div>
     </div>

    <div class="list card" ng-show="order.data.data.quantity == '1'">
      <div class="item item-text-wrap refill-description">
        <p ng-show="price.levelA == '29.90' ">Je découvre mes goûts sur toutes les régions françaises à prix doux.</p>
        <p ng-show="price.levelA == '39.90' ">J'explore les appellations et les cépages de France et d'ailleurs.</p>
        <p ng-show="price.levelA == '49.90' ">Des vins fins, élégants et racés.</ A moi les grandes appellations !p>
      </div>
    </div>

    <div class="list card" ng-show="order.data.data.quantity == '2'">
      <div class="item item-text-wrap refill-description">
        <p ng-show="price.levelB == '29.90' ">Je découvre mes goûts sur toutes les régions françaises à prix doux.</p>
        <p ng-show="price.levelB == '39.90' ">J'explore les appellations et les cépages de France et d'ailleurs.</p>
        <p ng-show="price.levelB == '49.90' ">Des vins fins, élégants et racés.</ A moi les grandes appellations !p>
      </div>
    </div> -->

  </ion-content>
</ion-view>