<ion-view title="Panier" id="cart-view">
  <ion-nav-buttons side="right">
    <button class="button button-icon">
      <svg version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" xml:space="preserve">
            <path fill="#fff" d="M27.715,10.48l-2.938,6.312c-0.082,0.264-0.477,0.968-1.318,0.968H11.831
              c-0.89,0-1.479-0.638-1.602-0.904l-2.048-6.524C7.629,8.514,8.715,7.933,9.462,7.933c0.748,0,14.915,0,16.805,0
              C27.947,7.933,28.17,9.389,27.715,10.48L27.715,10.48z M9.736,9.619c0.01,0.061,0.026,0.137,0.056,0.226l1.742,6.208
              c0.026,0.017,0.058,0.028,0.089,0.028h11.629l2.92-6.27c0.025-0.073,0.045-0.137,0.053-0.192H9.736L9.736,9.619z M13.544,25.534
              c-0.819,0-1.482-0.662-1.482-1.482s0.663-1.484,1.482-1.484c0.824,0,1.486,0.664,1.486,1.484S14.369,25.534,13.544,25.534
              L13.544,25.534z M23.375,25.534c-0.82,0-1.482-0.662-1.482-1.482s0.662-1.484,1.482-1.484c0.822,0,1.486,0.664,1.486,1.484
              S24.197,25.534,23.375,25.534L23.375,25.534z M24.576,21.575H13.965c-2.274,0-3.179-2.151-3.219-2.244
              c-0.012-0.024-0.021-0.053-0.028-0.076c0,0-3.56-12.118-3.834-13.05c-0.26-0.881-0.477-1.007-1.146-1.007H2.9
              c-0.455,0-0.82-0.364-0.82-0.818s0.365-0.82,0.82-0.82h2.841c1.827,0,2.4,1.103,2.715,2.181
              c0.264,0.898,3.569,12.146,3.821,12.999c0.087,0.188,0.611,1.197,1.688,1.197h10.611c0.451,0,0.818,0.368,0.818,0.818
              C25.395,21.21,25.027,21.575,24.576,21.575L24.576,21.575z"></path>
      </svg>
     {{order.getBottleNumber()}}
   </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <div class="content-container">
      <div class="card">
        <div class="item item-text-wrap">
          <p>Un commande peut comporter 3, 6 ou 12 bouteilles. Pour toute commande supérieure, merci d’envoyer un mail à commande@vinify.co.</p>
        </div>
      </div>
      <div class="list">
        <div ng-repeat="wine in order.data.picking" class="item item-thumbnail-left">
            <img ng-src="assets/wines/{{wine.product_code}}.png" err-src="assets/wines/mystery-png" alt="">
            <h3>{{::wine.display_name}}</h3>
            <i ng-if="wine.rating" ng-repeat="i in ::getNumber(wine.rating) track by $index" class="icon ion-ios7-star full-star"></i>
            <i ng-if="wine.rating" ng-hide="isInteger(wine.rating)" class="icon ion-ios7-star-half full-star"></i>
          <span class="attributes">
            <img ng-if="wine.match" src="assets/utils/heart.svg" alt=""> <span ng-if="wine.match" class="match">{{::wine.match * 100 | number:1}} %</span>
            <img class="coin" src="assets/utils/coin.svg" alt=""> <span class="price">{{::wine.public_price | number:1}} €</span>
            </span>
            <p class="vinitext">
                {{::wine.region}}
                <span class="plus-minus item-note">
                  <span class="minus" ng-click="removeBottle(wine)"><i class="icon ion-chevron-down"></i></span>
                  <span class="number">{{picking[wine.uuid]}}</span>
                  <span class="plus" ng-click="addBottle(wine, { match: bottle.match, rating: bottle.rating })"><i class="icon ion-chevron-up"></i></span>
                </span>
                <br>
                {{::wine.appellation}}
                <span class="item-note link-dotted">en savoir plus</span>
            </p>
        </div>
        <div class="item item-thumbnail-left" ng-repeat="refill in order.data.refills">
          <img ng-if="refill['price_level'] === '29.90' " class="order-france-logo" src="assets/utils/logo_france.png" alt="cepage">
          <img ng-if="refill['price_level'] === '39.90' " class="order-france-logo" src="assets/utils/logo_grapes.png" alt="cepage">
          <img ng-if="refill['price_level'] === '49.90' " class="order-france-logo" src="assets/utils/logo_glass.png" alt="cepage">
          <img ng-if="refill['price_level'] === '59.90' " class="order-france-logo" src="assets/utils/logo_mini.png" alt="cepage">
          <h3>Recharge
            <span ng-if="refill['price_level'] === '29.90'">Découverte</span>
            <span ng-if="refill['price_level'] === '39.90'">Exploration</span>
            <span ng-if="refill['price_level'] === '49.90'">Dégustation</span>
            <span ng-if="refill['price_level'] === '59.90'">Exception</span>
          </h3>
          <p>3 bouteilles <span class="item-note item-note-strong">{{refill['price_level']}} €</span></p>
          <div ng-if="refill['split']['red'] >=1" class="pin red-pin"></div>
          <div ng-if="refill['split']['red'] >=2" class="pin red-pin"></div>
          <div ng-if="refill['split']['red'] >=3" class="pin red-pin"></div>
          <div ng-if="refill['split']['white'] >=1" class="pin white-pin"></div>
          <div ng-if="refill['split']['white'] >=2" class="pin white-pin"></div>
          <div ng-if="refill['split']['white'] >=3" class="pin white-pin"></div>
          <div ng-if="refill['split']['rose'] >=1" class="pin rose-pin"></div>
          <div ng-if="refill['split']['rose'] >=2" class="pin rose-pin"></div>
          <div ng-if="refill['split']['rose'] >=3" class="pin rose-pin"></div>
          <span ng-click="removeRefill(refill['refill_number'])" class="item-note link-dotted">supprimer</span>
        </div>
      </div>
      <div class="card">
        <div class="item item-gray row">
          <div class="col centered">Total</div>
          <div class="col centered">{{order.getBottleNumber()}} bouteilles</div>
          <div class="col centered">{{order.getTotalPrice() | number:1}} €</div>
        </div>
      </div>
      <div class="row-buttons padding">
        <div class="centered">
          <button class="button button-outline-primary centered" ng-click="goPicking(order)" ng-if="order.getBottleNumber < 12">Ajouter des vins à la carte</button>
          <button ng-if="order.getBottleNumber < 10" class="button button-outline-primary centered" ui-sref="sidemenu.refill">Ajouter une recharge caviste</button>
          <button class="button button-outline-primary centered" ng-click="createRefillOrder(order)">Choisir la livraison</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>