<ion-view cache-view="false" title="Mon parcours" id="svi">
  <ion-content overflow-scroll="false">
    <div class="list">
      <div class="item item-divider">
        Filtres
      </div>
      <a href ui-sref="sidemenu.filter_color" class="item">
        Couleur
        <span class="item-note"><i class="icon ion-chevron-right"></i></span>
      </a>
      <a href ui-sref="sidemenu.filter_region" class="item">
        Région
        <span class="item-note"><i class="icon ion-chevron-right"></i></span>
      </a>
      <a href ui-sref="sidemenu.filter_price" class="item">
        Prix
        <span class="item-note"><i class="icon ion-chevron-right"></i></span>
      </a>
      <!-- <a href ui-sref="sidemenu.filter_color" class="item"></a> -->
    </div>
    <div class="padding">
      <p class="centered">Cliquez sur un producteur pour voir ses vins</p>
    </div>
    <div class="list">
      <div class="item item-divider">
        Mon parcours
      </div>
      <div class="item item-collection-repeat item-thumbnail-left full-width" collection-repeat="winemaker in winemakers" collection-item-height="'111px'" collection-item-width="'100%'">
        <div ui-sref="sidemenu.winemaker({ uuid: winemaker.uuid })" class="item-image item-row-stand item-row-stand--{{winemaker.svi_color}}">
          <p>{{winemaker.row}} {{winemaker.stand}}</p>
        </div>
        <h3 ui-sref="sidemenu.winemaker({ uuid: winemaker.uuid })" >{{winemaker.winemaker_name}}</h3>
        <p ui-sref="sidemenu.winemaker({ uuid: winemaker.uuid })" class="vinitext">{{winemaker.region}}</p>
        <p ui-sref="sidemenu.winemaker({ uuid: winemaker.uuid })" class="vinitext">{{winemaker.appellation}}</p>
        <div class="pins">
          <div ng-if="winemaker.red"  class="pin red-pin"></div>
          <div ng-if="winemaker.white"  class="pin white-pin"></div>
          <div ng-if="winemaker.rose"  class="pin rose-pin"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>