  <ion-modal-view>
    <ion-header-bar class="bar-positive">
          <button class="button" ng-click="closeOopsModal()"><i class="icon ion-android-close"></i></button>
          <h1 class="title"></h1>
          <button class="button" ng-click="closeOopsModal()">OK</button>
    </ion-header-bar>
    <ion-content>
    <div ng-style="full_height" class="row row-center response-modal">
      <div class="col centered">
        <img src="assets/utils/oops.svg" alt="Oops">
        <h3>Oops ...</h3>
        <h4>Il y a eu une erreur, merci de recommencer.</h4>
      </div>
    </div>
    </ion-content>
  </ion-modal-view>