  <ion-modal-view>
    <ion-header-bar class="bar-positive">
          <h1 class="title">Mot de Passe</h1>
          <button class="button" ng-click="closePasswordModal()">Terminé</button>
    </ion-header-bar>
    <ion-content>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Ancien Mot de Passe</span>
        <input type="password" ng-model="password.current" placeholder="Ancien mot de passe">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nouveau mot de passe</span>
        <input type="password" ng-model="password.new" placeholder="Nouveau mot de passe">
      </label>
    </div>

      <div class="centered">
        <button class="button button-outline-primary centered" ng-click="changePassword(password.current, password.new)">Changer de mot de passe</button>
      </div>


    </ion-content>
  </ion-modal-view>