      <ion-view hide-back-button="true" title="Welcome">
        <ion-content>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
          </ion-nav-buttons>
          <div ng-style="calcHeight" class="section" id="section-vinibar" ng-click="stateGo('vinibar')">
          <!-- <div class="section" id="section-vinibar" ng-click="stateGo('vinibar')"> -->
            <div class="home-header">
              <h3>Mon Vinibar</h3>
              <h4>Noter ma sélection
              <br>et retrouver mes vins préférés</h4>
            </div>
            <div class="chevron-right">
              <i class="icon ion-chevron-right"></i>
            </div>
          </div>
          <!-- <div class="section" id="section-order" ng-click="stateGo('order')"> -->
          <div ng-style="calcHeight" class="section" id="section-order" ng-click="stateGo('order')">
            <div class="home-header">
              <h3>Mes recharges</h3>
              <h4>Commander de nouveaux vins</h4>
            </div>
            <div class="chevron-right">
              <i class="icon ion-chevron-right"></i>
            </div>
          </div>
          <div ng-style="calcThirdHeight" class="section" id="section-profile" ng-click="stateGo('profile')">
          <!-- <div class="section" id="section-profile" ng-click="stateGo('profile')"> -->
            <div class="home-header">
              <h3>Mon Profil</h3>
              <h4>Découvrir mes goûts
              <br>et mes statistiques de consommation</h4>
            </div>
            <div class="chevron-right">
              <i class="icon ion-chevron-right"></i>
            </div>
          </div>
        </ion-content>
      </ion-view>