.item-profile {
	position: relative;

	.coming-soon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.7);
		p {
			line-height: 215px;
			height: 215px;
			color: #fff;
			font-family:  'robotobold';
		}
	}

	.col {
		padding-right: 0;
		padding-left: 0;
	}
	img {
		max-width: 100%;
		max-height: 35px;
	}

	.row {
		margin-bottom: @padding;
	}
	.row:first-child {
		margin-top: @padding;
	}
}
#godfathing {
	width: 120px;
}
.row-social-profile {
	margin-bottom: 15px;

	.social-container {
		margin: 0 auto;
	}

	p {
		text-align: center;
		color: #FFF;
		margin: 0;
	}
	i {
		font-size: 150%;
	}
	p.p-grey {
		color: #666;
	}
	div#facebook {
		width: 60px;
		float: left;
		padding: 15px;
		background-color: @facebook;
	}
	div#twitter {
		width: 60px;
		float: left;
		padding: 15px;
		background-color: @twitter;
	}
	div#mail {
		width: 60px;
		float: left;
		padding: 15px;
		background-color: @primary;
	}
	#share {
		text-align: left;
		color: @primary;
	}
}