<ion-view title="Profil">
	<ion-content overflow-sroll="true" has-bouncing="false">
		<div class="view-container">
			<div class="item item-gray centered">
				<h3>{{user.first_name}} {{user.last_name}}</h3>
				<p>{{user.email}}</p>
			</div>
			<div class="item centered item-profile">
				<!-- <div ng-show="user.bottles_rated_count < 10" class="coming-soon"><p>Notez 10 vins pour voir profil !</p></div> -->
				<!-- <div class="row"> -->
	<!-- 				<div class="col">
						<div class="row row-center">
							<div class="col col-20"><img src="assets/utils/grapes-black.svg" alt="cepage"></div>
							<div class="col">
									<h4>Cépage Préféré</h4>
									<p class="subtitle">{{user.profile.favorite_variety}}</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col"> -->
				<div class="row row-center">
					<div class="col col-20"><img src="assets/utils/france.svg" alt="cepage"></div>
					<div class="col align-left">
							<h4>Région la mieux notée</h4>
							<p class="subtitle">{{::user.profile.top_region}}</p>
					</div>
				</div>
					<!-- </div> -->
				<!-- </div> -->
				<div class="row row-center">
							<div class="col col-20"><img src="assets/utils/chart.png" alt="cepage"></div>
							<div class="col align-left">
									<h4>Consommation</h4>
									<p class="subtitle">Rouge : {{::user.profile.red_consumption*100 |number:0}} %, Blanc : {{::user.profile.white_consumption*100 |number:0}} % <br> Rosé : {{::user.profile.rose_consumption*100 |number:0}} %</p>
							</div>
				</div>
				<div class="row centered">
					<div class="col item-text-wrap"><p class="p-grey centered">Vinify vous prépare un profil plein de surprises pour la prochaine version. Des idées, des suggestions ? Ecrivez-nous (suggestions@vinify.co)!</p></div>
				</div>
	<!-- 			<div class="row">
					<div class="col">
						<h4>Note Moyenne</h4>
						<h3>{{::user.profile.average_rating}}</h3>
					</div>
				</div> -->
	<!-- 			<div class="row row-center">
					<div class="col centered">
						<h4>ViniPoints</h4>
						<span class="subtitle">{{::user.profile.vinipoints}}</span>
					</div>
				</div> -->
			</div>
			<div class="item">
				<h3 class="centered">Parrainez des amis et gagnez 10€ !</h3>
				<div class="row">
					<div class="col centered"><p>Mon Code : <br> {{::user.referral_code}}</p></div>
					<div class="col"><button id="godfathing" class="button button-outline-primary" ng-click="openReferralModal()"><p>Je parraine !</p></button></div>
				</div>
				<div ng-if="!desktop" class="row row-center centered row-social-profile">
					<div class="col"><p class="p-grey">Partager <br> mon code :</p></div>
					<div class="col social-container">
						<div ng-click="share.facebook()" id="facebook"><p><i class="icon ion-social-facebook"></i></p></div>
						<div ng-click="share.twitter()" id="twitter"><p><i class="icon ion-social-twitter"></i></p></div>
					</div>
				</div>
				<h3 class="centered">Mes filleuls</h3>
				<div class="row">
					<div class="col centered">
							<h4>Filleul</h4>
					</div>
					<div class="col centered">
							<h4>Mail envoyé</h4>
					</div>
					<div class="col centered">
							<h4>Achat</h4>
					</div>
				</div>
				<div ng-repeat="referral in referrals" class="row">
					<div class="col centered">
							<p>{{::referral.referred.first_name}}</p>
					</div>
					<div class="col centered">
							<p><img ng-show="referral.created_at" src="assets/utils/tick.svg" alt="tick"></p>
					</div>
					<div class="col centered">
							<p>
								<img ng-show="referral.validated_at" src="assets/utils/tick.svg" alt="tick">
								<a class="link-dotted link-black" ng-show="isWebView && !referral.validated_at" ng-click="sendMail(referral.referred.first_name, referral.referred.email)">Relancer</a>
							</p>
					</div>
				</div>
			</div>

			<div class="item item-gray centered">
					<p>{{user.delivery_address.street}}</p>
					<div class="row">
						<div class="col">
								<p> {{user.delivery_address.zipcode}}</p>
						</div>
						<div class="col">
								<p>{{user.delivery_address.city}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
								<p><i class="icon ion-ios7-telephone"></i> {{user.phone}}</p>
						</div>
						<div class="col">
								<p class="p-button" ng-click="openUserModal()"><span class="link-dotted">Modifier</span></p></button>
						</div>
					</div>
			</div>
	<!--             <div class="row">
					<div class="col">
							<button class="button share share-facebook"> <img src="assets/utils/facebook.svg" alt="facebook-logo"><p>Partager sur facebook</p></button>
					</div>
					<div class="col">
							<button class="button share share-twitter"> <img src="assets/utils/twitter.svg" alt="facebook-logo"> <p>Partager sur twitter</p></button>
					</div>
			</div> -->
		</div>
	</ion-content>
</ion-view>