<ion-view title="Mes Commandes">
  <ion-content>
    <a ng-if="user.awaiting_order" class="item centered" ng-click="orderReceived()">
      <h3>Une commande est en route !</h3>
      <p>Cliquez ici si vous l'avez reçue</p>
    </a>
    <div class="list">
      <div ng-repeat="order in orders | orderBy:date_payed" class="item">
        <h3>#{{::order.order_type}} - {{::order.delivery_mode}} - {{::order.final_price}} € <span class="item-note">Statut</span></h3>
        <p>
          {{::order.date_payed | date : 'dd/MM/yy'}} - {{::order.num_bottles}} bouteilles
          <span class="item-note item-note-strong">{{::statusConverter(order.status)}}</span>
        </p>
        <p ng-if="order.tracking_url" ng-click="open(order.tracking_url)"><span  class="link-dotted">suivre la commande</span></p>
      </div>
    </div>
  </ion-content>
</ion-view>